[submodule "vendor/vulkan-headers"]
	path = vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/spirv-headers"]
	path = vendor/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "vendor/vkd3d"]
	path = vendor/vkd3d
	url = https://github.com/kakra/vkd3d.git
[submodule "vendor/dxvk"]
	path = vendor/dxvk
	url = https://github.com/kakra/dxvk.git
